TAIGA_SOURCE_URL=https://api.taiga.io
TAIGA_SOURCE_PROJECT_SLUG=tup_santoro_exequiel-plataforma-de-aprendizaje-gamificado-de-programacion
TAIGA_SOURCE_PROJECT_ID=1804026
TAIGA_SOURCE_USERNAME=your_taiga_username
TAIGA_SOURCE_PASSWORD=
TAIGA_SOURCE_ATTACHMENT_HOSTS=tree.taiga.io
